**/.ipynb_checkpoints
**/WORK/
**/.synopsys_dc.setup
**/work/
**/transcript
**/*.vstf
**/*.log
**/area.txt
**/test_area_script.tcl
**/CT.txt
**/REF.txt
**/default.svf
problem25/check.bin
**/area_change.txt
**/__pycache__/
.DS_Store
problem*/completions_*/
completions_backup/problem*/
